@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --logo-width: 0px;
}

.dashboard .logo {
  position: fixed;
  height: 100vh;
  width: 28vw;
}

.dashboard .title {
  letter-spacing: 0.2em;
  color: white;
  font-weight: 300;
  font-style: normal;
  font-size: 3em;
  position: fixed;
  top: 50px;
  left: 30px;
  background: transparent;
  text-transform: lowercase;
}

.dashboard .home {
  position: fixed;
  top: 50vh;
  left: 30px;
  color: white;
}

.dashboard .settings {
  position: fixed;
  top: 55vh;
  left: 30px;
  color: white;
}

.main-view {
  position: fixed;
  display: inline-grid;
  /* For grid-template, 1st part is rows, 2nd part is columns. */
  grid-template: repeat(10, 10vh) / repeat(10, calc((100vw - 28vw) / 10));
  left: 28vw;
}

.nav-bar {
  padding: 2vh;
  display: inline-grid;
  grid-area: 1 / 1 / 3 / 11;
  overflow: hidden;
}

.main-home-display {
  grid-area: 3 / 1 / 11 / 11;
  background: #f5f5f5;
}

.search-bar {
  grid-area: 1/1/2/11;
  display: flex;
  align-items: center;
}

.user-display {
  padding: 1.5vh 0px;
  grid-area: 2/1/3/6;
  display: flex;
  gap: 20px;
  align-items: center;
}

.project-buttons {
  grid-area: 2/6/3/11;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: flex-end;
}

.project-buttons button {
  border: none;
  padding: 10px;
  color: white;
  background: #fadbbe;
  border-radius: 10px;
  box-shadow: 3px 3px #e0dede;
}

.projects h2 {
  padding: 20px;
}

.projects {
  overflow: hidden;
  position: relative;
  height: 80vh;
  width: 50vw;
}

.project-list {
  display: inline-grid;
  grid-template: repeat(3, 20.5vh) / repeat(2, 23vw);
  position: relative;
  left: 20px;
  height: 66vh;
  column-gap: 10px;
  row-gap: 2vh;
}

.project-list div {
  background: white;
  border-radius: 10px;
  box-shadow: 4px 4px #e0dede;
  padding-left: 8px;
  border-style: solid;
  border-width: 10px;
  border-left-color: pink;
  border-top-color: white;
  border-right-color: white;
  border-bottom-color: white;
}

.announcements h2 {
  padding: 20px;
}

.announcements {
  overflow: hidden;
  position: relative;
  top: -80vh;
  left: 50vw;
  height: 40vh;
  width: 21.5vw;
}

.announcement-list {
  display: flex;
  flex-direction: column;
  height: 26vh;
  left: 20px;
  width: 19vw;
  row-gap: 1.5vh;
  overflow: scroll;
  position: relative;
}

.announcement-list div {
  background: white;
  border-radius: 10px;
  box-shadow: 4px 4px #e0dede;
  padding-left: 10px;
}

.top-employees {
  position: relative;
  top: -80vh;
  left: 50vw;
  height: 39vh;
  width: 21.5vw;
}

.top-employees h2 {
  padding: 20px;
}

.employee-list {
  display: flex;
  flex-direction: column;
  height: 26vh;
  left: 20px;
  width: 19vw;
  row-gap: 1.5vh;
  overflow: scroll;
  position: relative;
}

.employee-list div {
  background: white;
  border-radius: 10px;
  box-shadow: 4px 4px #e0dede;
  padding-left: 10px;
}

.search #search {
  position: relative;
  left: 20px;
  width: 300px;
  border-radius: 10px;
  border: none;
  background: #f5f5f5;
  padding-left: 10px;
}

.search #search-button {
  border: none;
  background: white;
}
